.post-meta {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 30px;
}

.md-figure {
  text-align: center;
  font-style: italic;
  font-size: 90%;
}
