.post-meta {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 30px;
}

.md-figure {
  text-align: center;
  font-style: italic;
  font-size: 90%;
}

.post-cover {
  width: 100%;
  height: 400px;
  filter: brightness(0.33) blur(4px);
  transition: all 0.5s ease;
  background-size: cover !important;
  background-position: center !important;
}

.post-cover:hover {
  filter: brightness(0.66) blur(0px);
}