* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

body, blockquote, h1 {
  background-color: rgb(0, 0, 0);
  color: rgb(231, 233, 234);
}

a,
a > h1 {
  color: #ababff;
}

a:hover,
a:hover > h1 {
  color: #8a8aff;
}

a:visited,
a:visited > h1 {
  color: #506ab3;
}


button {
  border: none;
  background-color: navy;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
  margin: 5px;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: rgb(0, 0, 80);
}

iframe {
  margin-bottom: 0px;
}

.overall-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 0px 1.3125rem;
}

.overall-width-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem 0px 1.3125rem;
}

.overall-width-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 0px 1.3125rem 2.625rem 1.3125rem;
}

blockquote {
  border-color: navy;
}

#follow-button {
  border-radius: 10px;
}
